In [1]:
import sklearn
import numpy as np

In [2]:
import pandas as pd
train_whole = pd.read_csv("train.csv")

In [3]:
train_whole.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_whole.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
from sklearn.model_selection import train_test_split
train_train, train_test = train_test_split(train_whole, test_size=0.2, random_state=42)
train_train_whole = train_train.copy()
train_test_whole = train_test.copy()

In [6]:
#make labels!
train_train_y = train_train_whole["Survived"]
train_train_X = train_train_whole.drop("Survived", axis=1)
train_test_y = train_test_whole["Survived"]
train_test_X = train_test_whole.drop("Survived", axis=1)

In [7]:
train_train_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 331 to 102
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Pclass       712 non-null    int64
 2   Name         712 non-null    object
 3   Sex          712 non-null    object
 4   Age          572 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Ticket       712 non-null    object
 8   Fare         712 non-null    float64
 9   Cabin        159 non-null    object
 10  Embarked     710 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

In [8]:
MEDIAN_AGE = train_train_X["Age"].median()
print(MEDIAN_AGE)

28.0

In [53]:
from sklearn.preprocessing import StandardScaler

In [54]:
from sklearn.base import BaseEstimator, TransformerMixin

class num_AttributesFixer(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        X.drop("PassengerId", axis=1, inplace=True)
        X.drop("Pclass", axis=1, inplace=True)
        X.drop("Name", axis=1, inplace=True)
        X.drop("Ticket", axis=1, inplace=True)
        X.drop("Cabin", axis=1, inplace=True)
        X["Age"].fillna(MEDIAN_AGE, inplace=True)
        #X["Embarked"].fillna('S', inplace=True)
        print(X.head())
        #print(X.info())
        return X.to_numpy()
    
class cat_AttributesFixer(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        X["Embarked"].fillna('S', inplace=True)
        print(X.head())
        #print(X.info())
        return X.to_numpy()

In [55]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
num_pipeline = Pipeline([
    ('NA', num_AttributesFixer()),
    ('std', StandardScaler()),
])

cat_pipeline = Pipeline([
    ('CA', cat_AttributesFixer()),
    ('Encoder', OneHotEncoder()),
])

In [56]:
from sklearn.compose import ColumnTransformer

num_attribs = ['PassengerId', 'Pclass', 'Name', 'Ticket', 'Cabin', 'Age', 'SibSp', 'Parch', 'Fare']
cat_attribs = ['Sex', 'Embarked']

num_cat_pipeline = ColumnTransformer([
    ('num', num_pipeline, num_attribs),
    ('cat', cat_pipeline, cat_attribs),
])

In [57]:
train_train_X_copy = train_train_X.copy()
copy_piped = num_cat_pipeline.fit_transform(train_train_X_copy)

      Age  SibSp  Parch     Fare
331  45.5      0      0  28.5000
733  23.0      0      0  13.0000
382  32.0      0      0   7.9250
704  26.0      1      0   7.8542
813   6.0      4      2  31.2750
        Sex Embarked
331    male        S
733    male        S
382    male        S
704    male        S
813  female        S

In [59]:
print(copy_piped.shape)

(712, 9)

In [60]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor(n_estimators=100, random_state=42)
forest_reg.fit(copy_piped, train_train_y)

RandomForestRegressor(random_state=42)

In [63]:
from sklearn.model_selection import cross_val_score
forest_scores = cross_val_score(forest_reg, copy_piped, train_train_y, cv=5)

In [64]:
print(forest_scores)

[0.34739572 0.27170527 0.28927861 0.42395114 0.3647773 ]

In [65]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(random_state=42)
SGD_scores = cross_val_score(sgd_clf, copy_piped, train_train_y, cv=3)
print(SGD_scores)

[0.79411765 0.75949367 0.78059072]

In [66]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier()
knn_scores = cross_val_score(knn_clf, copy_piped, train_train_y, cv=3)
print(knn_scores)

[0.79831933 0.81434599 0.79324895]

In [67]:
knn_clf.fit(copy_piped, train_train_y)

KNeighborsClassifier()

In [72]:
final_pipeline = Pipeline([
    ('preparation', num_cat_pipeline),
    ('knn', KNeighborsClassifier()),
])

In [73]:
final_pipeline.fit(train_train_X, train_train_y)

      Age  SibSp  Parch     Fare
331  45.5      0      0  28.5000
733  23.0      0      0  13.0000
382  32.0      0      0   7.9250
704  26.0      1      0   7.8542
813   6.0      4      2  31.2750
        Sex Embarked
331    male        S
733    male        S
382    male        S
704    male        S
813  female        S

Pipeline(steps=[('preparation',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('NA',
                                                                   num_AttributesFixer()),
                                                                  ('std',
                                                                   StandardScaler())]),
                                                  ['PassengerId', 'Pclass',
                                                   'Name', 'Ticket', 'Cabin',
                                                   'Age', 'SibSp', 'Parch',
                                                   'Fare']),
                                                 ('cat',
                                                  Pipeline(steps=[('CA',
                                                                   cat_AttributesFixer()),
                                                                  ('Encoder',
                                                                   OneHotEncoder())]),
                                                  ['Sex', 'Embarked'])])),
                ('knn', KNeighborsClassifier())])

In [76]:
train_train_pred = final_pipeline.predict(train_train_X)

      Age  SibSp  Parch     Fare
331  45.5      0      0  28.5000
733  23.0      0      0  13.0000
382  32.0      0      0   7.9250
704  26.0      1      0   7.8542
813   6.0      4      2  31.2750
        Sex Embarked
331    male        S
733    male        S
382    male        S
704    male        S
813  female        S

In [86]:
print(train_train_X.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 331 to 102
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Pclass       712 non-null    int64
 2   Name         712 non-null    object
 3   Sex          712 non-null    object
 4   Age          572 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Ticket       712 non-null    object
 8   Fare         712 non-null    float64
 9   Cabin        159 non-null    object
 10  Embarked     710 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB
None

In [77]:
from sklearn.metrics import accuracy_score
train_train_score = accuracy_score(train_train_y, train_train_pred)
print(train_train_score)

0.8412921348314607

In [78]:
train_test_pred = final_pipeline.predict(train_test_X)

      Age  SibSp  Parch     Fare
709  28.0      1      1  15.2458
439  31.0      0      0  10.5000
840  20.0      0      0   7.9250
720   6.0      0      1  33.0000
39   14.0      1      0  11.2417
        Sex Embarked
709    male        C
439    male        S
840    male        S
720  female        S
39   female        C

In [79]:
train_test_score = accuracy_score(train_test_y, train_test_pred)
print(train_test_score)

0.7932960893854749

In [81]:
test = pd.read_csv('test.csv')

In [82]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [83]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [84]:
test_PassengerId = test["PassengerId"]

In [91]:
MEDIUM_FARE = train_train["Fare"].median()
print(MEDIUM_FARE)
test["Fare"].fillna(MEDIUM_FARE, inplace=True)

14.4542

In [92]:
test_pred = final_pipeline.predict(test)

    Age  SibSp  Parch     Fare
0  34.5      0      0   7.8292
1  47.0      1      0   7.0000
2  62.0      0      0   9.6875
3  27.0      0      0   8.6625
4  22.0      1      1  12.2875
      Sex Embarked
0    male        Q
1  female        S
2    male        Q
3    male        S
4  female        S

In [93]:
print(test_pred)

[0 0 0 1 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 1 1 1 0 1 0 1 0 0 0 0 0 1 1 0 0 0
 1 0 0 0 1 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 1 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0
 1 0 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 1 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 1 1 1 0 0 1 0 1 1 1 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 1 1 1 1 0 0 1 0 0 0]

In [95]:
print(test_PassengerId)

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [98]:
test_pred_pd = pd.DataFrame(test_pred, columns=['Survived'])

In [99]:
test_pred_pd.head()

   Survived
0         0
1         0
2         0
3         1
4         0

In [103]:
test_PassengerId = pd.DataFrame(test_PassengerId, columns=['PassengerId'])

In [104]:
test_PassengerId.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [105]:
print(test_PassengerId)

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [113]:
answer = pd.concat([test_PassengerId, test_pred_pd], axis=1, ignore_index=False)

In [114]:
answer.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0

In [115]:
answer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [116]:
answer["Survived"].value_counts()

0    258
1    160
Name: Survived, dtype: int64

In [117]:
answer.to_csv('./answer.csv')